/// Checks a variable for data type 'bool'
///
/// @param {Bool} $bool [null]
/// Any sass bool
///

@function bool-error(
  $bool: null
) {
  @if type-of($bool) != bool {
    @return "Invalid type, expected bool for #{type-of($bool)}";
  } @else {
    @return "Unexpected error, received type bool";
  }
}

/// Checks a variable for data type 'color'
///
/// @param {Color} $color [null]
/// Any sass color
///

@function color-error(
  $color: null
) {
  @if type-of($color) != color {
    @return "Invalid type, expected color for #{type-of($color)}";
  } @else {
    @return "Unexpected error, received type color";
  }
}

/// Checks a variable for data type 'list'
///
/// @param {List} $list [null]
/// Any sass list
///
/// @param {Number} $index [0]
/// An index intended for use in an nth-function to access an element of $list
///

@function list-error(
  $list: null,
  $index: 0
) {
  $length: length($list);

  @if $length < 1 {
    @return "Invalid list, no elements included";
  } @else if abs($index) > $length {
    @return "Index invalid. Index #{$index} for list length #{$length}";
  } @else {
    @return "Unexpected error, received valid list";
  }
}

/// Checks a variable for data type 'map'
///
/// @param {Map} $map [null]
/// Any sass map
///

@function map-error(
  $map: null
) {
  @if type-of($map) != map {
    @return "Invalid type, expected map for #{type-of($map)}";
  } @else {
    @return "Unexpected error, received type map";
  }
}

/// Checks an index for non-zero value
///
/// @param {Number} $index [null]
/// A number representing the index used for nth-based list functions
///

@function nth-zero-error(
  $index: null
) {
  @if $index == 0 {
    @return "List index 0 must be a non-zero integer for `remove-nth`.";
  } @else {
    @return "Unexpected error, received non-zero index: #{$index}";
  }
}

/// Checks a range for correct length
///
/// @param {List} $range [null]
/// Any sass range
///

@function range-error(
  $range: null
) {
  @if length($range) != 2 {
    @return "Invalid range, expected length 2 for #{length($range)}";
  } @else {
    @return "Unexpected error, received acceptable range";
  }
}

/// Checks a variable for data type 'string'
///
/// @param {String} $string [null]
/// Any sass string
///

@function string-error(
  $string: null
) {
  @if type-of($string) != string {
    @return "Invalid type, expected string for #{type-of($string)}";
  } @else {
    @return "Unexpected error, received type string";
  }
}
