/// Appends a dash to a string or returns an empty string for an empty input
///
/// @param {String} $n ['']
/// String to be appended with a dash
///

@function postDash(
  $string: ''
) {
  $error: string-error($string);

  @if ($string == '') {
    @return '';
  } @else {
    @return $string + '-';
  }
}

/// Prepends a dash to a string or returns an empty string for an empty input
///
/// @param {String} $n ['']
/// String to be prepended with a dash
///

@function preDash(
  $string: ''
) {
  $error: string-error($string);
  
  @if ($string == '') {
    @return '';
  } @else {
    @return '-' + $string;
  }
}
