<div id="fullpage">
  <div class="section">
    <div class="name">
      CHI
    </div>
    <div class="weather">
      Sunny
    </div>
  </div>
  <div class="section">
    <div class="address">
      530 N Lake Shore Dr.
    </div>
  </div>
</div>
