<section class="tile intro" data-anchor="intro">
  <div class="content">
    <h1 class="title">Crook & Baker</h1>
  </div>
</section>
<section class="tile" style="background-image: url(<%= image_path('SkylineBlack2.jpg') %>);" data-anchor="home">
  <div class="content">
    <div class="company-heading">
      <h2 class="name" data-sr="enter bottom move <%= @fadeDistance %> over <%= @fadeTime %>">
        Crook and Baker is a creative agency that connects with people through digital interaction.
      </h2>
    </div>
  </div>
</section>
<section class="tile" style="background: green;" data-anchor="services">
  <div class="content">
  </div>
</section>
<section class="tile" style="background: blue;" data-anchor="about">
  <div class="content">
  </div>
</section>
<section class="tile" style="background: red;" data-anchor="contact">
  <div class="content">
  </div>
</section>
