<div class="company-heading">
  <h2 class="name" data-sr="enter left move <%= @fadeDistance %> over <%= @fadeTime %>">Crook & Baker</h2>
  <p class="slogan" data-sr="enter right move <%= @fadeDistance %> over <%= @fadeTime %>">
    We Know Digital
  </p>
</div>
