<div class="company-heading">
  <h2 class="name" data-sr="enter bottom move <%= @fadeDistance %> over <%= @fadeTime %>">
    Crook and Baker is a creative agency that connects with people through digital interaction.
  </h2>
</div>
