<div class="company-heading">
  <h2 class="logo">[C&B]</h2>
  <p class="name">
    <span class="large-text">Crook</span><br>
    <span class="small-text">and Baker</span>
  </p>
  <p class="agency">Digital Consulting</p>
</div>
