<div class="company-heading">
  <h2 class="name" data-sr="enter bottom move <%= @fadeDistance %> over <%= @fadeTime %>">
    Crook and Baker is a creative and digital agency that harnesses culture to attract audiences.
  </h2>
</div>
