<div class="company-heading">
  <h2 class="logo">[C&B]</h2>
  <p class="name">
    <span class="large-text">Crook</span><br>
    <span class="small-text">and Baker</span>
  </p>
  <p class="agency">Digital Consulting</p>
  <%= link_to "#", class: "btn-services" do %>
    <div class="bookstop right"></div>
    <div class="bookstop left"></div>
    <span class="content-btn">Our Services</span>
  <% end %>
</div>
