<div class="company-heading">
  <h2 class="logo">[C&B]</h2>
  <p class="name">
    <span class="large-text">Crook</span><br>
    <span class="small-text">and Baker</span>
  </p>
  <p class="agency">Generic Consulting</p>
  <%= link_to "Our Services", "#", class: "btn-services" %>
</div>
