<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to allstaff_home_path do %>
          <%= image_tag "logos/SelectStaffingMenu.png" %>
        <% end %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <%= link_to "Looking For Work?", allstaff_portal_path %>
      </li>
      <li>
        <a href="#">Looking To Hire?</a>
      </li>
      <li>
        <a href="#">Recruiters' Blog</a>
      </li>
    </ul>
  </section>
</nav>
