<div id="modal">
  <div class="box">
    <button id="modal-hide"><%= icon('times') %></button>
    <p>Submit your resume here to get updates about exciting new employment opportunites.</p>
    <div class="text-box"><%= icon('file-text-o') %></div>
  </div>
</div>
