<div id="modal">
  <div class="box">
    <button id="modal-hide"><%= icon('times') %></button>
    <p>Submit your resume to have us match you with great career opportunities.</p>
    <div class="text-box"><%= icon('file-text-o') %></div>
  </div>
</div>
