// Framework by Chris Moy
// Big Corporation Digital Collective

//

// Table of Contents
// Framework Settings

// a. Base
// b. Grid
// c. Global
// d. Media Queries
// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $base-font: 1.8rem;
// $base-margin: 20px;
// $base-padding: 20px;
// $base-radius: 0.3rem;
// $base-transition: 0.2s;
// $base-unit: 1rem;

// b. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

// c. Media Queries
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Breakpoints
// $view-breakpoint-xl: 999999999px;
// $view-breakpoint-lg: 1200px;
// $view-breakpoint-md: 960px;
// $view-breakpoint-sm: 320px;

// Ranges

// $sm-range: (0px, $view-breakpoint-sm);
// $md-range: ($view-breakpoint-sm + 1px, $view-breakpoint-md);
// $lg-range: ($view-breakpoint-md + 1px, $view-breakpoint-lg);
// $xl-range: ($view-breakpoint-lg + 1px, $view-breakpoint-xl);

// Screen Options

// $screen: "only screen";

// $landscape: "#{$screen} and (orientation: landscape)";
// $portrait: "#{$screen} and (orientation: portrait)";

// d. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $col-groups are the column groups you want
// For example, $col-groups: (3, 4, 5) will output:
// .col-Nof3, .col-Nof4, .col-Nof5

// $column-groups: (12);

// Gutter-Width

$horiz-gutter-width: $base-margin / 2;
$vert-gutter-width: $base-margin / 2;

$horiz-grid-gutter-width: 0;
$vert-grid-gutter-width: 0;
$horiz-column-gutter-width: $horiz-gutter-width;
$vert-column-gutter-width: $vert-gutter-width;

// Namespaces

// $grid-namespace: "row";
// $column-namespace: "col";

// Screen Ranges

// $sm-up: $screen;
// $sm-only: "#{$screen} and (max-width: #{$view-breakpoint-sm})";

// $md-up: "#{$screen} and (min-width:#{$view-breakpoint-sm + 1})";
// $md-only: "#{$screen} and (min-width:#{lower-bound($md-range)}) and (max-width:#{upper-bound($md-range)})";

// $lg-up: "#{$screen} and (min-width:#{$view-breakpoint-md})";
// $lg-only: "#{$screen} and (min-width:#{lower-bound($lg-range)}) and (max-width:#{upper-bound($lg-range)})";

// $xl-up: "#{$screen} and (min-width:#{$view-breakpoint-lg})";
// $xl-only: "#{$screen} and (min-width:#{lower-bound($xl-range)}) and (max-width:#{upper-bound($xl-range)})";

// Column alignment. Defaults to left (columns rendered in order from left to
// right). Set $align-right: true to align to the right.

// $align-right: false;

// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -
