// Framework by Chris Moy
// Big Corporation Digital Collective

//

// Table of Contents
// Framework Settings

// a. Base
// b. Media Queries
// c. Grid
// d. Typography
//  . Buttons
//  . Navbar
// - - - - - - - - - - - - - - - - - - - - - - - - -

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

$rem-scaler: 0.625;

// Units
$golden-ratio: 1.61803398875;
$golden-inverse: 0.61803398875;

$scale-factor: $golden-ratio;

$scale-forward-small: 2 / ($scale-factor + 1) !default;
$scale-forward-1: 1 !default;
$scale-forward-2: (1 + $scale-factor) / 2 !default;
$scale-forward-3: $scale-factor !default;
$scale-forward-4: (1 + $scale-factor) / 2 * $scale-factor !default;
$scale-forward-5: $scale-factor * $scale-factor !default;
$scale-forward-6: (1 + $scale-factor) / 2 * $scale-factor * $scale-factor !default;
$scale-forward-7: $scale-factor * $scale-factor * $scale-factor !default;
$scale-inverse: 1 / $scale-factor !default;

$scale-responsive: (
  sm: 0.9,
  md: 1.0,
  lg: 1.1,
  xl: 1.2
) !default;
// Border

$base-radius: 0.3rem !default;

// Colors

$color-primary: black !default;
$color-secondary: black !default;
$color-tertiary: black !default;

// Spacing

$base-spacing-unit: 3rem !default;
$base-padding: $base-spacing-unit;
$base-margin: $base-spacing-unit;

// Transitions

$transition-time: 0.2s !default;
$transition-function: ease-in-out !default;

// b. Media Queries
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Breakpoints

$view-breakpoint-xl: 999999999px !default;
$view-breakpoint-lg: 1200px !default;
$view-breakpoint-md: 1024px !default;
$view-breakpoint-sm: 640px !default;

$max-width: 1400px;

// Ranges

$view-range-sm: (0px, $view-breakpoint-sm) !default;
$view-range-md: ($view-breakpoint-sm + 1px, $view-breakpoint-md) !default;
$view-range-lg: ($view-breakpoint-md + 1px, $view-breakpoint-lg) !default;
$view-range-xl: ($view-breakpoint-lg + 1px, $view-breakpoint-xl) !default;

// Screen Options

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

// Screen Ranges

$sm-up: $screen !default;
$sm-only: "#{$screen} and (max-width: #{$view-breakpoint-sm})" !default;
$md-up: "#{$screen} and (min-width: #{lower-bound($view-range-md)})" !default;
$md-only: "#{$screen} and (min-width: #{lower-bound($view-range-md)}) and (max-width:#{upper-bound($view-range-md)})" !default;
$lg-up: "#{$screen} and (min-width: #{lower-bound($view-range-lg)})" !default;
$lg-only: "#{$screen} and (min-width: #{lower-bound($view-range-lg)}) and (max-width:#{upper-bound($view-range-lg)})" !default;
$xl-up: "#{$screen} and (min-width: #{lower-bound($view-range-xl)})" !default;
$xl-only: "#{$screen} and (min-width: #{lower-bound($view-range-xl)}) and (max-width:#{upper-bound($view-range-xl)})" !default;

$screen-sizes: ($md-up md, $lg-up lg, $xl-up xl);

// c. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Namespaces

$namespace-column: "col" !default;
$namespace-grid: "row" !default;

// $col-groups are the column groups you want
// For example, $col-groups: (3, 4, 5) will output:
// .col-Nof3, .col-Nof4, .col-Nof5

$column-groups: (12) !default;

// Grid

$grid-gutter: 0.5 * $base-padding !default;

// Column

$column-align: left !default;
$column-gutter: 0.5 * $base-padding !default;

// d. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$base-font-size: 20px !default;

$font-size-p: $scale-forward-1 * $base-font-size !default;
$font-size-h6: $scale-forward-1 * $base-font-size !default;
$font-size-h5: $scale-forward-2 * $base-font-size !default;
$font-size-h4: $scale-forward-3 * $base-font-size !default;
$font-size-h3: $scale-forward-4 * $base-font-size !default;
$font-size-h2: $scale-forward-5 * $base-font-size !default;
$font-size-h1: $scale-forward-6 * $base-font-size !default;
$font-size-small: $scale-forward-small * $base-font-size !default;

$font-line-height: 1 !default;
$font-sans-serif: Arial, Helvetica, sans-serif !default;
$font-serif: Georgia, Times, 'Times New Roman', serif !default;

// . Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -
$btn-font-size: $font-size-p !default;

$btn-border: 0 !default;
$btn-color: $color-primary !default;
$btn-radius: $base-radius !default;

$btn-hamburger-bar: 3px;

// . Navbar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$navbar-font-size: $btn-font-size !default;

$navbar-color: $color-primary !default;

$navbar-height-horizontal: $scale-factor * $scale-factor * $navbar-font-size !default;
$navbar-height-vertical: 100% !default;

$navbar-width-horizontal: 100% !default;
$navbar-width-vertical: 20% !default;

$navbar-position-top: (top: 0, left: 0, right: 0) !default;
$navbar-position-right: (top: 0, right: 0, bottom: 0) !default;
$navbar-position-bottom: (right: 0, bottom: 0, left: 0) !default;
$navbar-position-left: (top: 0, bottom: 0, left: 0) !default;

