// Framework by Chris Moy
// Big Corporation Digital Collective

//

// Table of Contents
// Framework Settings

// a. Base
// b. Media Queries
// c. Grid
// d. Typography
//  . Buttons
//  . Navbar
// - - - - - - - - - - - - - - - - - - - - - - - - -

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Units
$golden-ratio: 1.61803398875;

$scale-factor: $golden-ratio;

$scaling: (
  forward: (
    small: 2 / ($scale-factor + 1),
    f1: 1,
    f2: (1 + $scale-factor) / 2,
    f3: $scale-factor,
    f4: (1 + $scale-factor) / 2 * $scale-factor,
    f5: $scale-factor * $scale-factor,
    f6: (1 + $scale-factor) / 2 * $scale-factor * $scale-factor,
    f7: $scale-factor * $scale-factor * $scale-factor
  ),
  inverse: 1 / $scale-factor,
  padding: (
    double: 0.5 * ($scale-factor - 1.0),
    single: $scale-factor - 1.0
  ),
  responsive: (
    sm: 0.666667,
    md: 1,
    lg: 1.5,
    xl: 2
  )
) !default;

// Border

$base-radius: 0.3rem !default;

// Colors

$color: (
  primary: black,
  secondary: black,
  tertiary: black
) !default;

// Spacing

$space-unit: 3rem !default;

$base-spacing: (
  margin: $space-unit,
  padding: $space-unit
) !default;

// Transitions

$base-transition: (
  time: 0.2s,
  function: ease-in-out,
  forward-function: ease-in-out,
  reverse-function: ease-in-out
) !default;

// b. Media Queries
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Breakpoints

$view-breakpoint: (
  xl: 999999999px,
  lg: 1200px,
  md: 1024px,
  sm: 640px
) !default;

// Ranges

$view-range: (
  sm: (0px, map-get($view-breakpoint, sm)),
  md: (map-get($view-breakpoint, sm) + 1px, map-get($view-breakpoint, md)),
  lg: (map-get($view-breakpoint, md) + 1px, map-get($view-breakpoint, lg)),
  xl: (map-get($view-breakpoint, lg) + 1px, map-get($view-breakpoint, xl))
) !default;

// Screen Options

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

// Screen Ranges

$screen-range: (
  sm-up: $screen,
  sm-only: "#{$screen} and (max-width: #{map-get($view-breakpoint, sm)})",
  md-up: "#{$screen} and (min-width:#{map-get($view-breakpoint, sm) + 1px})",
  md-only: "#{$screen} and (min-width:#{lower-bound(map-get($view-range, md))}) and (max-width:#{upper-bound(map-get($view-range, md))})",
  lg-up: "#{$screen} and (min-width:#{map-get($view-breakpoint, md)})",
  lg-only: "#{$screen} and (min-width:#{lower-bound(map-get($view-range, lg))}) and (max-width:#{upper-bound(map-get($view-range, lg))})",
  xl-up: "#{$screen} and (min-width:#{map-get($view-breakpoint, lg)})",
  xl-only: "#{$screen} and (min-width:#{lower-bound(map-get($view-range, xl))}) and (max-width:#{upper-bound(map-get($view-range, xl))})"
) !default;

// c. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $col-groups are the column groups you want
// For example, $col-groups: (3, 4, 5) will output:
// .col-Nof3, .col-Nof4, .col-Nof5

$column-groups: (12) !default;

// Gutter-Width

$gutter-width: (
  column: (
    horiz: 0.5 * map-get($base-spacing, padding),
    vert: 0.5 * map-get($base-spacing, padding)
  ),
  grid: ( 
    horiz: 0.5 * map-get($base-spacing, padding),
    vert: 0.5 * map-get($base-spacing, padding)
  )
) !default;

// Namespaces

$namespace: (
  column: "col",
  grid: "row"
) !default;

// Column alignment. Defaults to left (columns rendered in order from left to
// right). Set $align-right: true to align to the right.

$align-right: false !default;

// d. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$base-font-size: 20px !default;

$font: (
  size: (
    p: map-nested-get($scaling, forward, f1) * $base-font-size,
    h6: map-nested-get($scaling, forward, f1) * $base-font-size,
    h5: map-nested-get($scaling, forward, f2) * $base-font-size,
    h4: map-nested-get($scaling, forward, f3) * $base-font-size,
    h3: map-nested-get($scaling, forward, f4) * $base-font-size,
    h2: map-nested-get($scaling, forward, f5) * $base-font-size,
    h1: map-nested-get($scaling, forward, f6) * $base-font-size,
    small: map-nested-get($scaling, forward, small) * $base-font-size
  ),
  style: (
    line-height: 1,
    sans-serif: (Arial, Helvetica, sans-serif),
    serif: (Georgia, Times, 'Times New Roman', serif)
  )
) !default;

// . Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

$btn-font-key: p;

$btn: (
  font-size: map-nested-get($font, size, $btn-font-key),
  hamburger: 0.2rem,
  padding: map-nested-get($scaling, padding, double) * map-nested-get($font, size, $btn-font-key)
) !default;

// . Navbar
// - - - - - - - - - - - - - - - - - - - - - - - - -

$navbar-font-key: p;

$navbar: (
  color: map-get($color, primary),
  height: (
    horizontal: $scale-factor * $scale-factor * map-nested-get($font, size, $navbar-font-key),
    vertical: 100%
  ),
  padding: map-nested-get($scaling, padding, double) * $scale-factor * map-nested-get($font, size, $navbar-font-key),
  position: (
    bottom: (right: 0, bottom: 0, left: 0),
    left: (top: 0, bottom: 0, left: 0),
    right: (top: 0, right: 0, bottom: 0),
    top: (top: 0, left: 0, right: 0)
  ),
  width: (
    horizontal: 100%,
    vertical: (1 - map-get($scaling, inverse)) * 100%
  )
) !default;
