/// Returns the base sizing attributes for a button
///
/// @param {Number} $dimension [null]
/// Size of the button. Example: 40px, 4rem
///

@mixin btn-base(
  $dimension: null
) {

  @if type-of($dimension) != number { @error number-error($dimension); }

  $font-size: $golden-inverse * $dimension;
  $padding-horizontal: 0.5 * ($dimension - $font-size);
  $padding-vertical: $padding-horizontal;

  @include rem(border-radius, $base-radius);
  @include rem(font-size, $font-size);
  @include rem(height, $dimension);
  @include rem(padding, $padding-vertical $padding-horizontal);

  &.btn-square { @include rem(width, $dimension); }
}

/// Returns the CSS stylings for one bar of a hamburger button
///
/// @param {Number} $width [null]
/// Thickness of the bar (may be thought of as height be some). Example: 3px, 3rem
///
/// @param {Color} $color [null]
/// Color of the bar. Example: rgba(255,255,255,1), #FFF, white
///

@mixin hamburger-bar(
  $width: 3px,
  $color: $white
) {

  @if type-of($width) != number { @error number-error($width); }
  @if type-of($color) != color { @error color-error($color); }

  background-color: $color;
  border-radius: $base-radius;
  display: inline-block;
  @include rem(height, $width);
  position: absolute;
  right: 0;
  width: 100%;
}
