/// Returns the base sizing attributes for a button
///
/// @param {Number} $font-size [null]
/// Font-size of the button. Example: 20px, 2rem
///

@mixin btn-base(
  $font-size: null
) {

  $error: number-error($font-size);

  $dimension: scale-sf($font-size);
  $padding-vertical: scale-padding-sf($font-size);
  $padding-horizontal: scale-sf($padding-vertical);

  @include rem(border-radius, $base-radius);
  @include rem(font-size, $font-size);
  @include rem(height, $dimension);
  @include rem(padding, $padding-vertical $padding-horizontal);

  &-square { @include rem(width, $dimension); }

  &-margin {
    @include rem(padding, scale-padding-sf($dimension));
  }
}

/// Returns the viewport-dependent sizing attributes for a hamburger button
///
/// @param {Number} $font-size [null]
/// Font-size of the button. Example: 20px, 2rem
///
/// @param {String} $modifier [null]
/// $size: The name for the size modifier of the column classes (sm, md, lg, xl, etc)
///

@mixin hamburger(
  $font-size: null,
  $modifier: null
) {

  $error: number-error($font-size);
  $error: string-error($modifier);

  &-hamburger {
    &_prompt {
      @include rem(font-size, $font-size);
      @include rem(margin-top, -0.5 * $font-size);
    }

    &_bar, &:before, &:after {
      @include rem(height, scale-hambar($modifier));
    }

    &_bar {
      @include rem(margin-top, -0.5 * scale-hambar($modifier));
    }

    &-active {
      &:before, &:after {
        margin-top: -0.5 * scale-hambar($modifier);
      }
    }
  }
}
