<section class="tile" style="background-image: url(<%= image_path(@picture) %>);">
  <div class="content">
  </div>
</section>
<section class="tile" style="background-image: url(<%= image_path('SkylineBlack2.jpg') %>);">
  <div class="content">
    <%= yield %>
  </div>
</section>

