<section class="tile" style="background: white;">
  <div class="content home">
    <%= video_tag "slowBoat.mp4", id: "homeVideo" %>
  </div>
</section>
<section class="tile" style="background-image: url(<%= image_path('SkylineBlack2.jpg') %>);">
  <div class="content">
    <%= yield %>
  </div>
</section>

