// Colors

$all-red: #B32229;
$all-orange: #DB482E;
$all-green: #1B4C26;
$all-light-blue: #2F5EA7;
$all-pale-blue: #26357A;
$all-dark-blue: #022284;
$all-purple: #4D318D;

$office-1: #251E1B;
$office-2: #56555B;
$office-3: #818782;
$office-4: #C4C2C3;
$office-5: #A69A80;

$cool-1: #293249;
$cool-2: #69656F;
$cool-3: #ACA1A1;
$cool-4: #DED2CF;
$cool-5: #F7EFED;


