.header {

  .btn {
    &.btn-logo {
      background-color: transparent;
      border-radius: $btn-radius;
      left: 0;
      margin: $base-margin;
      // padding: $base-padding $base-spacing;
      padding: 0;
      position: absolute;
      top: 0;
      width: 15rem;
    }
  }

  .nav-left {
    background-color: transparent;
    box-shadow: 3px 0 2px rgba(0,0,0,0.1);
    height: 100%;
    padding: 0;
    position: relative;
    text-align: left;

    .nav-wrapper {
      background-color: white;
      border: $btn-radius solid white;
      border-radius: 0;
      height: 100%;
      position: relative;
      width: 100%;

      .nav-links {
        background-color: transparent;
        list-style-type: none;
        padding: 0 $base-spacing;
        position: absolute;
        text-align: right;
        top: 50%;
        transform: translate(0, -70%);
        width: 100%;

        .nav-link {
          $font-size: scale-font(map-get($font-sizes, h5), sm);

          font-weight: $font-weight-normal;
          letter-spacing: 4px;
          margin: $base-spacing 0;
          text-decoration: none;
          text-transform: uppercase;
          transition: all $transition-time cubic-bezier(0.455, 0.03, 0.515, 0.955);

          a {
            color: $white;
            cursor: pointer;
            @include rem(font-size, $font-size);
            @include rem(padding, 1.2rem 2rem 1rem);
            text-decoration: none;
            // @include transition(color);

            background-image: linear-gradient(to right, black 50%, white 50%);
            background-size: 200% 100%;
            transition: all .5s;

            &:hover:not(.active) {
              color: $gray;
              background-position: -100% 0;
            }

            &.active {
              background-color: $theme-blue;
              background-image: none;
              color: $white;
            }
          }
        }
      }
    }

    .company-info {
      $font-size: scale-font(map-get($font-sizes, small), sm);

      background-color: white;
      bottom: $base-padding;
      left: 20%;
      position: absolute;
      width: 60%;

      .company-card {
        height: 100%;
        text-align: center;
        width: 100%;

        p {
          @include rem(font-size, $font-size);
          font-weight: $font-weight-lighter;
          line-height: 1.5;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @each $size in $screen-sizes {

    $viewport: nth($size, 1);
    $modifier: nth($size, 2);

    @media #{$viewport} {

      .btn {

        &.btn-logo {

          @if $modifier == lg {
            margin: 0;
            padding: $base-spacing;
            width: 100%;
          }
        }
      }

      .nav-left {

        @include clearNav($modifier);

        &-bottom, &-top {
          @include rem(height, scale-navbar($navbar-height-horizontal, $modifier));
        }

        &-left, &-right {
          @include rem(width, scale-navbar($navbar-width-vertical, $modifier));
        }
      }
    }
  }
}
