$nav-links-margin: (
  sm: 75px,
  md: 100px,
  lg: 150px,
  xl: 250px
);

header {

  .btn {
    &.btn-logo {
      border-radius: $btn-radius;
      left: $base-padding;
      position: absolute;
      top: $base-padding;

      &:hover {
        color: $theme-blue;
      }
    }
  }

  .nav-left {
    background-color: transparent;
    height: 100%;
    padding: 0;
    position: relative;
    text-align: left;

    .nav-wrapper {
      background-color: white;
      border: $btn-radius solid white;
      border-radius: 0;
      height: 100%;
      width: 100%;

      .nav-links {
        background-color: transparent;
        list-style-type: none;
        margin-top: map-get($nav-links-margin, sm);
        padding: 0;
        text-align: center;

        .nav-link {
          $font-size: scale-font(map-get($font-sizes, h5), sm);

          font-weight: $font-weight-normal;
          margin: 50px 0;
          text-decoration: none;

          a {
            color: $light-gray;
            @include rem(font-size, $font-size);
            text-decoration: none;
            @include transition(color);

            &:hover:not(.active) {
              color: $gray;
            }

            &.active {
              color: $black;
            }

            span {
              background-color: white;
              padding: 10px 0;
            }
          }
        }
      }
    }

    .company-info {
      $font-size: scale-font(map-get($font-sizes, small), sm);

      background-color: white;
      bottom: 2 * $base-padding;
      left: 20%;
      position: absolute;
      width: 60%;

      .company-card {
        height: 100%;
        text-align: center;
        width: 100%;

        p {
          @include rem(font-size, $font-size);
          font-weight: $font-weight-lighter;
          line-height: 1.5;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @each $size in $screen-sizes {

      $viewport: nth($size, 1);
      $modifier: nth($size, 2);

      @media #{$viewport} {
        @include clearNav($modifier);

        &-bottom, &-top {
          @include rem(height, scale-navbar($navbar-height-horizontal, $modifier));
        }

        &-left, &-right {
          @include rem(width, scale-navbar($navbar-width-vertical, $modifier));
        }

        @if $viewport != md {
          padding: $base-padding;

          .nav-wrapper {
            border-color: $black;
            border-radius: $btn-radius;
          }
        }

        .nav-wrapper {
          .nav-links {
            margin-top: map-get($nav-links-margin, $modifier);
          }
        }
      }
    }
  }
}
