$header-padding: $base-spacing;

.header {

  .btn {
    &.btn-logo {
      background-color: transparent;
      left: 0;
      margin: $base-margin;
      padding: 0;
      position: absolute;
      top: 0;
      width: 15rem;
    }
  }

  .nav-left {
    background-color: transparent;
    box-shadow: 3px 0 2px rgba(0,0,0,0.1);
    height: 100%;
    left: 0;
    padding: 0;
    position: relative;
    text-align: left;

    .nav-wrapper {
      background-color: white;
      height: 100%;
      position: relative;
      width: 100%;

      .nav-links {
        background-color: transparent;
        list-style-type: none;
        padding: 0 $header-padding;
        position: absolute;
        text-align: right;
        top: 50%;
        transform: translate(0, -70%);
        width: 100%;

        .nav-link {
          $font-size: scale-font(map-get($font-sizes, h6), sm);

          font-weight: $font-weight-normal;
          letter-spacing: 5px;
          margin: $header-padding 0;
          text-decoration: none;
          text-transform: uppercase;

          a {
            color: $gray;
            cursor: pointer;
            @include rem(font-size, $font-size);
            outline: none;
            @include rem(padding, 1.2rem 0 1rem 2rem);
            position: relative;
            text-decoration: none;
            transition: all $transition-time * 2;

            &:before {
              background-color: $gray;
              content: '';
              height: 100%;
              right: 0;
              position: absolute;
              top: 0;
              transition: all $transition-time * 2;
              width: 0;
              z-index: -1;
            }

            &:hover:not(.active) {
              color: $white;
              padding-right: 2rem;

              &:before {
                width: 100%;
              }
            }

            &.active {
              background-color: $theme-blue;
              color: $white;
              padding-right: 2rem;
            }
          }
        }
      }
    }

    .company-info {
      $font-size-major: scale-font(map-get($font-sizes, p), sm);
      $font-size-minor: scale-font(map-get($font-sizes, small), sm);

      background-color: white;
      bottom: $base-padding;
      left: 0;
      @include rem(padding, 0 $header-padding);
      position: absolute;
      width: 100%;

      .company-card {
        height: 100%;
        text-align: left;
        width: 100%;

        p {
          @include rem(font-size, $font-size-minor);
          font-weight: lighter;
          line-height: 1.8;

          span {
            font-weight: normal;
          }

          &.title {
            @include rem(font-size, $font-size-major);
            // font-style: italic;
            text-transform: uppercase;

            span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  @each $size in $screen-sizes {

    $viewport: nth($size, 1);
    $modifier: nth($size, 2);

    @media #{$viewport} {

      .btn {

        &.btn-logo {

          @if $modifier == lg {
            margin: 0;
            @include rem(padding, $header-padding);
            width: 100%;
          }
        }
      }

      .nav-left {

        @include clearNav($modifier);

        .nav-wrapper .nav-links .nav-link {
          $font-size: scale-font(map-get($font-sizes, h6), $modifier);

          a {
            @include rem(font-size, $font-size);
          }
        }
      }
    }
  }
}
