header {
  display: inline-block;
  height: 100%;

  .btn {
    &.btn-logo {
      border-radius: $btn-radius;
      left: $base-padding;
      position: absolute;
      top: $base-padding;
      transition: color 0.3s;
      z-index: 1;

      &:hover {
        color: $theme-blue;
      }
    }

    &.btn-hamburger {
      right: $base-padding;
      position: absolute;
      top: $base-padding;
      transition: color 0.3s;
      z-index: 1;
    }
  }

  .nav-left {
    background-color: transparent;
    height: 100%;
    padding: $base-padding;
    position: relative;
    text-align: left;

    .nav-wrapper {
      background-color: white;
      border: $btn-radius solid $black;
      border-radius: $btn-radius;
      height: 100%;
      width: 100%;

      .nav-links {
        background-color: transparent;
        left: 50%;
        list-style-type: none;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 0;

        .nav-link {
          $font-size: scale-font(map-get($font-sizes, h5), sm);

          font-weight: $font-weight-normal;
          margin: 50px 0;
          text-decoration: none;

          a {
            color: $light-gray;
            @include rem(font-size, $font-size);
            text-decoration: none;
            transition: color $transition-time $transition-function;

            &:hover:not(.active) {
              color: $gray;
            }

            &.active {
              color: $black;
            }

            span {
              background-color: white;
              padding: 10px 0;
            }
          }
        }
      }
    }

    .company-info {
      $font-size: scale-font(map-get($font-sizes, small), sm);

      background-color: white;
      bottom: 2 * $base-padding;
      left: 20%;
      position: absolute;
      width: 60%;

      .company-card {
        height: 100%;
        text-align: center;
        width: 100%;

        p {
          @include rem(font-size, $font-size);
          font-weight: $font-weight-lighter;
          line-height: 1.5;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
