$nav-font-color: $body-font-secondary-color;
$nav-font-active-color: $body-font-color;
$nav-font-passive-color: $body-font-ternary-color;
$nav-font-hover-color: $primary-color;
$nav-mobile-height: $base-page-spacing;
$nav-padding: 3rem;
$nav-offset-padding: 2rem;

nav {
  background-color: white;
  height: $nav-mobile-height;
  left: 0;
  padding: 1.5rem 1.5rem;
  transition: all 0.7s;
  top: -$nav-mobile-height;
  width: 100%;
  z-index: 100;
  .logo-container {
    display: inline-block;
    opacity: 0.99;
    text-align: center;
    z-index: 150;
    .logo {
      @include three-box-logo($dimension: 4rem, $color: $primary-color);
      display: inline-block;
    }
  }
  &.active {
    top: 0;
  }
  .menu-button {
    @include btn-three-bars($primary-color);
    $button-dimension: $nav-mobile-height - 2rem;
    float: right;
    height: $button-dimension;
    margin-top: 0.5rem;
    width: 4rem;
    z-index: 150;
    &:hover { .bar { background-color: $primary-color; } }
  }
  .address {
    display: none;
  }
}

.directory {
  background-color: inherit;
  font-weight: 100;
  height: 100%;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding-top: 10rem;
  position: absolute;
  right: -100%;
  top: 0;
  transition: opacity 0.5s;
  width: 100%;
  z-index: 150;
  li {
    display: block;
    text-align: center;
    a {
      color: $nav-font-color;
      font-size: 2.5rem;
      transition: 0.3s all;
      &.active {
        color: $nav-font-active-color;
        font-weight: 300;
      }
      &:not(.active):hover { color: $nav-font-hover-color; }
    }
  }
  &.active {
    opacity: 1;
    right: 0;
  }
}

@media #{$large-up} {
  nav {
    background-color: white;
    border-bottom: 0;
    border-right: 1px solid $nav-font-passive-color;
    height: 100%;
    left: -20%;
    opacity: 0.99;
    // padding: $nav-offset-padding 0;
    width: 20%;
    z-index: 150;
    .logo-container {
      display: block;
      margin-bottom: 15rem;
      text-align: center;
    }
    &.active {
      left: 0;
    }
    .menu-button { display: none; }
    .address {
      bottom: $nav-offset-padding;
      display: block;
      font-size: 1.2rem;
      font-weight: 300;
      left: $nav-padding;
      margin: 0;
      position: absolute;
      text-align: left;
      width: 80%;
    }
  }
  .directory {
    background-color: transparent;
    display: block;
    height: auto;
    margin-bottom: 6rem;
    padding: 0;
    padding-right: $nav-padding;
    position: static;
    li {
      text-align: right;
      a {
        &:not(.active):hover { margin-right: 1rem; }
      }
    }
  }
}
