.tile {
  // background-image: image-url('SkylineBlack2.jpg');
  background-position: 50% 20%;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 50;
  .content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media #{$large-up} {
  .tile {
    .content {
      left: 20%;
      width: 80%;
    }
  }
}
