.background {
  background-image: image-url('chicagoSkyline.jpg');
  background-position: 50% 70%;
  background-size: cover;
  filter: grayscale(60%) brightness(0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.content {
  height: 100%;
  left: 20%;
  position: absolute;
  top: 0;
  width: 80%;
}
