.background {
  background-image: image-url('SkylineBlack.jpg');
  background-position: center top;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.content {
  height: 100%;
  left: 20%;
  position: absolute;
  top: 0;
  width: 80%;
}
