#container-companies {
  .layer {
    @include grid-row();
    .logo, .company {
      @include grid-column(6);

      border: 5px solid $gainsboro;
      border-collapse: collapse;
      overflow: hidden;
      position: relative;
    }
    .company {
      .image, .description {
        height: 100%;
        position: absolute;
        top: 0;
        width: 50%;
      }
      .image {
        filter: grayscale(0.5);
        left: 50%;
        width: 50%;
        img {
          display: block;
          left: 0;
          margin: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
      .description {
        font-size: 1.5rem;
        left: 0;
        line-height: 1.2;
        padding: 2rem;
        img {
          display: block;
          left: 50%;
          margin: 0;
          max-width: 90%;
          position: absolute;
          top: 50%;
        }
        &:after{
          content: '';
          position: absolute;
          left: 100%;
          top: 10%;
          width: 0;
          height: 0;
          border-left: 20px solid white;
          border-bottom: 20px solid transparent;
          border-top: 20px solid transparent;
          clear: both;
        }
      }
    }
    &:nth-child(odd) {
      .company {
        .image {
          left: 0;
        }
        .description {
          left: 50%;
          &:after{
            content: '';
            position: absolute;
            left: -20px;
            top: 10%;
            width: 0;
            height: 0;
            border-right: 20px solid white;
            border-left: transparent;
            border-bottom: 20px solid transparent;
            border-top: 20px solid transparent;
            clear: both;
          }
        }
      }
    }

  }
}
