#content-portal {
  @include grid-row();
  // background-color: red;
  height: 100%;
  width: 100%;
  .filters, .application {
    background: white;
    height: 100%;
  }
  .filters {
    @include grid-column(4);
    // background-color: green;
    border-right: 1px solid $iron;
    padding: 5rem;
    .filter-container {
      background-color: white;
      box-shadow: inset 0 0 10px $iron;
      height: 100%;
      width: 100%;
      h3 {
        display: block;
        font-size: 3rem;
        font-weight: lighter;
        margin: 2rem auto;
        text-align: center;
      }
      ul {
        list-style-type: none;
        margin: 0;
        li {
          font-size: 2rem;
          margin: 1rem 0;
          text-align: center;
        }
      }
    }
  }
  .application {
    @include grid-column(8);
    // background-color: blue;
    overflow-y: auto;
    padding: 5rem;
    .prompt {
      background-color: white;
      box-shadow: 0 0 10px $iron;
      font-size: 2rem;
      font-weight: lighter;
      padding: 2rem;
      text-align: center;
      width: 100%;
    }
    button {
      background-color: #2F5EA7;
      display: block;
      font-size: 4rem;
      font-weight: lighter;
      margin: 5rem auto;
    }
    .jobs {
      h2 {
        font-size: 3rem;
        // font-weight: lighter;
        margin: 0 auto;
        margin-bottom: 2rem;
        text-align: center;
      }
      .board {
        background-color: white;
        box-shadow: inset 0 0 10px $iron;
        height: 60%;
        margin: 0;
        overflow-y: auto;
        position: relative;
        width: 100%;
        li {
          border-bottom: 1px solid $iron;
          font-weight: lighter;
          padding: 2rem;
          h3 {
            color: #2F5EA7;
            font-size: 2.5rem;
            font-weight: lighter;
            margin-bottom: 1rem;
            text-align: center;
            &:hover { color: $iron; }
          }
          .description {
            font-size: 1.5rem;
            @include grid-row();
            .time {
              @include grid-column(6);
            }
            .info {
              @include grid-column(6);
              text-align: right;
            }
          }
        }
      }
    }
  }
}
