#content-select {
  @include grid-row();
  // background-color: red;
  height: 100%;
  width: 100%;
  .blog, .jobs {
    background-color: $white;
    height: 100%;
    h2 {
      display: block;
      font-size: 3rem;
      font-weight: 200;
      text-align: center;
    }
  }
  .blog {
    @include grid-column(8);
    // background-color: blue;
    border-right: 1px solid $iron;
    border-left: 1px solid $iron;
    padding: 5rem;
    .board {
      background-color: white;
      box-shadow: inset 0 0 10px $iron;
      height: 60%;
      position: relative;
      width: 100%;
    }
  }
  .jobs {
    @include grid-column(4);
    // background-color: green;
    border-right: 1px solid $iron;
    padding: 5rem;
    .board {
      background-color: white;
      box-shadow: inset 0 0 10px $iron;
      height: 60%;
      margin: 0;
      position: relative;
      width: 100%;
    }
  }
}
