#content-select {
  @include grid-row();
  // background-color: red;
  height: 100%;
  width: 100%;
  .blog, .jobs {
    background-color: $white;
    height: 100%;
    h2 {
      display: block;
      font-size: 3rem;
      font-weight: 200;
      text-align: center;
    }
  }
  .blog {
    @include grid-column(8);
    // background-color: blue;
    border-right: 1px solid $iron;
    border-left: 1px solid $iron;
    padding: 5rem;
    .board {
      background-color: white;
      box-shadow: inset 0 0 10px $iron;
      font-size: 1.5rem;
      font-weight: lighter;
      height: 90%;
      overflow-y: auto;
      padding: 5rem;
      position: relative;
      width: 100%;
      vertical-align: bottom;
      h3 {text-align: center;}
      h3, h4 {
        font-weight: 300;
        font-size: 2rem;
      }
    }
  }
  .jobs {
    @include grid-column(4);
    // background-color: green;
    border-right: 1px solid $iron;
    padding: 5rem;
    .board {
      background-color: white;
      box-shadow: inset 0 0 10px $iron;
      height: 60%;
      margin: 0;
      overflow-y: auto;
      position: relative;
      width: 100%;
      li {
        border-bottom: 1px solid $iron;
        font-weight: lighter;
        padding: 2rem;
        h3 {
          color: #2F5EA7;
          font-size: 2.5rem;
          font-weight: lighter;
          margin-bottom: 1rem;
          text-align: center;
          &:hover { color: $iron; }
        }
        .description {
          font-size: 1.5rem;
          @include grid-row();
          .time {
            @include grid-column(6);
          }
          .info {
            @include grid-column(6);
            text-align: right;
          }
        }
      }
    }
    .action {
      font-size: 2rem;
      margin-top: 2rem;
      text-align: center;
    }
    button {
      background-color: #2F5EA7;
      display: block;
      font-size: 2rem;
      margin: 0 auto;
    }
  }
}
