$base-page-spacing: 6rem;

body {
  background-color: black;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);

