body {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
}

@font-face {
  font-family: 'Panton Light';
  src: url('fonts/panton/panton.light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton Light';
  src: url('fonts/panton/panton.light-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
