.company-heading {
  height: 18rem;
  margin-top: -9rem;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  .logo {
    display: inline-block;
    font-size: 12rem;
    line-height: 1;
    margin: 0;
    vertical-align: top;
  }
  .name {
    display: inline-block;
    line-height: 1;
    margin: 0;
    .large-text { font-size: 7rem; }
    .small-text { font-size: 5rem; }
  }
  .agency {
    font-size: 6rem;
    line-height: 1;
    margin-left: 4rem;
  }
  .btn-services {
    font-size: 4rem;
    margin-top: 4rem;
    position: relative;
    .bookstop {
      border: 3px solid $primary-color;
      height: 100%;
      position: absolute;
      top: 0;
      transition: all 0.5s;
      width: 1rem;
      &.left {
        border-right-width: 0;
        float: left;
        left: 0;
      }
      &.right {
        border-left-width: 0;
        float: right;
        right: 0;
      }
    }
    .content-btn {
      margin: 1rem 1rem;
      transition: all 0.5s;
    }
    &:hover {
      .bookstop {
        width: 50%;
        background-color: $primary-color;
        z-index: -1;
      }
      .content-btn {
        color: $white;
      }
    }
  }
}
