.company-heading {
  height: 13rem;
  margin-top: -6.5rem;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  .logo {
    display: inline-block;
    font-size: 6rem;
    line-height: 1;
    margin: 0;
    vertical-align: top;
  }
  .name {
    display: inline-block;
    line-height: 1;
    margin: 0;
    text-align: left;
    // .large-text { font-size: 3.5rem; }
    // .small-text { font-size: 2.5rem; }
    .slogan { font-size: 3rem; }
  }
  .agency {
    color: $primary-color;
    font-size: 3rem;
    line-height: 1;
    margin-left: 2rem;
    // text-align: left;
  }
  .btn-services {
    @include btn-bracket-side($primary-color, $white, 2.5rem, 2px, 0.5s);
    display: none;
  }
}

@media #{$medium-up} {
  .company-heading {
    .logo { font-size: 9rem; }
    .name {
      .large-text { font-size: 5rem; }
      .small-text { font-size: 4rem; }
    }
    .agency {
      font-size: 4.5rem;
      margin-left: 3.5rem;
    }
  }
}

@media #{$large-up} {
  .company-heading {
    height: 18rem;
    margin-top: -9rem;
    top: 30%;
    .logo {
      font-size: 12rem;
    }
    .name {
      display: inline-block;
      // .large-text { font-size: 7rem; }
      // .small-text { font-size: 5rem; }
      .slogan { font-size: 6rem; }
    }
    .agency {
      font-size: 6rem;
      margin-left: 4rem;
    }
    .btn-services {
      @include btn-bracket-side($primary-color, $white, 4rem, 2px, 0.5s);
      margin-top: 4rem;
    }
  }
}
