/// Returns the result of the function x!
///
/// @param {Number} $x [0]
/// The exponent of the function
///
/// @return {Number}
///

@function factorial(
  $x: 0
){
  $error: number-error($x);

  $val: 1;

  @if $x > 0 {
    @while $x > 0 {
      $ret: $val * $x;
      $x: $x - 1;
    }
  }

  @return $val;
}

/// Returns the lower bound of a given range of integers
///
/// @param {List} $range [null]
/// List of integers showing a range. Ex: (1, 2) or (342, 9999999)
///
/// @return {Number}
///

@function lower-bound(
  $range: null
){
  $error: range-error($range);

  @return nth($range, 1);
}

/// Returns the result of the function b^x (includes 0 & negative powers)
///
/// @param {Number} $b [0]
/// The base of the function
///
/// @param {Number} $x [0]
/// The exponent of the function
///
/// @return {Number}
///

@function power(
  $b: 0,
  $x: 0
){

  $error: number-error($b);
  $error: number-error($x);

  $val: 1;

  @if $x >= 0 {
    @for $i from 1 through $x {
      $val: $val * $b;
    }
  } @else {
    @for $i from $x to 0 {
      $val: $val / $b;
    }
  }

  @return $val;
}

/// Returns the upper bound of a given range of integers
///
/// @param {List} $range [null]
/// List of integers showing a range. Ex: (1, 2) or (342, 9999999)
///
/// @return {Number}
///

@function upper-bound(
  $range: null
) {
  $error: range-error($range);

  @return nth($range, 1);
}

