<div class="company">
  <div class="image">
    <%= image_tag "checkerboard/test#{index}.jpg" %>
  </div>
  <div class="description">
    <%= image_tag "logos/#{company[0].gsub " ", ""}.png" %>
  </div>
</div>
