<div class="company <%= index == 4 ? 'major' : 'minor' %>">
  <span class="highlight" style="background-color: <%= company[1] %>;"></span>
  <%= image_tag "logos/#{company[0].gsub " ", ""}.png" %>
</div>
