/// Returns the width for 1 bar of a hamburger button scaled to the desired viewport size
///
/// @param {String} $modifier [null]
/// Name of the modifier to be used. Example: sm, md, lg
///
/// @return {Number}
///

@function scale-hambar(
  $modifier: null
) {

  $error: string-error($modifier);

  $scaler: map-get($scale-responsive, $modifier);

  $base-thickness: $btn-hamburger-bar;
  $scaled-hambar: floor($scaler * $base-thickness);

  @return $scaled-hambar;
}
