@mixin btn-three-bars {
  background-color: transparent;
  outline: 0;
  position: relative;
  .bar {
    background-color: $primary-color;
    border-radius: 1px;
    height: 0.6rem;
    left: 0;
    position: absolute;
    width: 100%;
    &.top { top: 0; }
    &.middle {
      margin-top: -3px;
      top: 50%;
    }
    &.bottom { bottom: 0; }
  }
}

@mixin btn-bracket-side($passive-color, $active-color, $font-size, $border-width, $speed) {
  border-radius: 1px;
  font-size: $font-size;
  line-height: 1;
  opacity: 0.99;
  outline: 0;
  padding: 0 1rem;
  position: relative;
  transition: all 0.5s;
  &:before, &:after {
    border: $border-width solid $passive-color;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all $speed;
    width: 1rem;
    z-index: -1;
  }
  &:before {
    border-right-width: 0;
    content: "";
    float: left;
    left: 0;
  }
  &:after {
    border-left-width: 0;
    content: "";
    float: right;
    right: 0;
  }
  &:hover {
    color: $active-color;
    &:before, &:after {
      width: 50%;
      background-color: $passive-color;
    }
  }
}
