@mixin three-box-logo($dimension: 200px, $color: #000, $background: transparent) {
  $border-width-ratio: 0.08;

  height: $dimension;
  outline: 0;
  position: relative;
  width: $dimension;
  .box {
    border: 0 solid $color;
    border-radius: $dimension * $border-width-ratio;
    border-width: $dimension * $border-width-ratio;
    bottom: 0;
    content: "";
    height: $dimension * 0.71;
    position: absolute;
    right: 0;
    width: $dimension * 0.71;
    &:before, &:after {
      bottom: -$dimension * $border-width-ratio;
      right: -$dimension * $border-width-ratio;
    }
    &:before {
      @extend .box;
      height: $dimension;
      width: $dimension;
    }
    &:after {
      @extend .box;
      height: $dimension * 0.43;
      width: $dimension * 0.43;
    }
  }
}
