// Globals

@import "font-awesome-sprockets";
@import "font-awesome";
@import "allstaff/global/variables";
@import "global/foundation_and_overrides";
@import "global/foundation";

// Modules

@import "allstaff/modules/header";
@import "allstaff/modules/footer";
@import "allstaff/modules/modal";

// Pages

@import "allstaff/pages/home";
@import "allstaff/pages/select";
@import "allstaff/pages/portal";

// Debug Box

.debug_dump {
  clear: both;
  float: left;
  margin: 45px;
  padding: 10px;
  background: $smoke;
  border: 1px solid $oil;
  @include box_sizing;
  @include radius;
}
