*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-size: percentage($rem-scaler);
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1400px;
}

.debug_dump {
  clear: both;
  float: left;
  margin: 45px;
  padding: 10px;
  background: $smoke;
  border: 1px solid $oil;
}
