*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.debug_dump {
  clear: both;
  float: left;
  margin: 45px;
  padding: 10px;
  background: $smoke;
  border: 1px solid $oil;
}
