// BUTTONS //
// Framework by Chris Moy

@import "framework/functions/scaling/buttons";

.btn {
  @include btn-base(sm);
  @include stdBg();
  @include stdColor();
  @include stdFloat();
  @include stdSpacing();

  border: none;
  box-sizing: border-box;
  font-family: $font-family-sans;
  line-height: 1;
  outline: 0;
  position: relative;
  @include transition(all);

  &:hover {
    cursor: pointer;
  }

  @include hamburger(sm);

  &-hamburger {
    background-color: transparent;
    position: relative;

    &_prompt {
      color: $btn-hamburger-prompt-color; 
      line-height: 1;
      position: absolute;
      right: 120%;
      top: 50%;
      @include transition(all, 2);

      &-active {
        opacity: 0;
      }
    }

    &_bar, &:before, &:after {
      background-color: $btn-hamburger-color;
      border-radius: $base-radius;
      display: inline-block;
      position: absolute;
      right: 0;
      width: 100%;
    }

    &_bar {
      top: 50%;
      @include transition(all, 2);
    }

    &:before, &:after {
      content: "";
      @include synced-transitions(transform, top);
    }

    &:before { top: $btn-hamburger-bar-spacing; }
    &:after { bottom: $btn-hamburger-bar-spacing; }

    &-active {

      .btn-hamburger_prompt {
        opacity: 0;

        &-active {
          opacity: 1;
        }
      }

      .btn-hamburger_bar {
        opacity: 0;
        @include transition(all);
      }

      &:before, &:after {
        top: 50%;
        @include chained-transitions(top, transform);
      }

      &:before { transform: rotate(-45deg); }
      &:after { transform: rotate(-135deg); }
    }
  }

  &-logo {
    background-color: black;
    color: white;
    font-style: oblique;
    font-weight: 700;
    text-align: left;
  }

    // SIZE //

  @each $size in $screen-sizes {

    $viewport: nth($size, 1);
    $modifier: nth($size, 2);

    @media #{$viewport} {
      @include btn-base($modifier);
      @include hamburger($modifier);
    }
  }
}
