// BUTTONS //
// Framework by Chris Moy

@import "framework/functions/scaling/buttons";

.btn {
  $btn-font-size: scale-font($btn, sm);

  @include btn-base($btn-font-size);
  @include stdBg();
  @include stdColor();
  @include stdFloat();

  border: none;
  outline: 0;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  @include hamburger($btn-font-size, sm);

  &-hamburger {
    $bar-spacing: 19.0983005625%; // (1 - $golden-inverse) * 0.5 * 100%
    $bar-color: map-get($navbar, color);

    background-color: transparent;
    border-radius: 0;
    padding: 0;
    position: relative;

    &_prompt {      
      line-height: 1;
      position: absolute;
      right: 120%;
      top: 50%;
      @include transition(all, 2);

      &-active {
        opacity: 0;
      }
    }

    &_bar, &:before, &:after {
      background-color: $bar-color;
      border-radius: $base-radius;
      display: inline-block;
      position: absolute;
      right: 0;
      width: 100%;
    }

    &_bar {
      top: 50%;
      @include transition(all, 2);
    }

    &:before, &:after {
      content: "";
      @include synced-transitions(transform, top);
    }

    &:before { top: $bar-spacing; }
    &:after { bottom: $bar-spacing; }

    &-active {

      .btn-hamburger_prompt {
        opacity: 0;

        &-active {
          opacity: 1;
        }
      }

      .btn-hamburger_bar {
        opacity: 0;
        @include transition(all);
      }

      &:before, &:after {
        top: 50%;
        @include chained-transitions(top, transform);
      }

      &:before { transform: rotate(-45deg); }
      &:after { transform: rotate(-135deg); }
    }
  }

  @media #{$md-up} {
    $btn-font-size: scale-font($btn, md);

    @include btn-base($btn-font-size);
    @include hamburger($btn-font-size, md);
  }

  @media #{$lg-up} {
    $btn-font-size: scale-font($btn, lg);

    @include btn-base($btn-font-size);
    @include hamburger($btn-font-size, lg)
  }
}
