// BUTTONS //
// Framework by Chris Moy

/// Padding inside buttons.

$btn-padding: 0.5rem 1rem !default;

/// Margin around buttons.

$btn-margin: $base-margin !default;

.btn {
  @include btn-base(map-get($navbar-btn, sm));

  /// BASE STYLES ///

  border: none;
  line-height: 1;
  outline: 0;
  position: relative;

  // BACKGROUND //

  @include stdBg();

  // COLOR //

  @include stdColor();

  // POSITION //

  &-margin {
    @include rem(margin, $navbar-sm-padding);
  }

  &-padding {
    @include rem(padding, $navbar-sm-padding);
  }

  &-right {
    float: right;
  }

  // STATE //

  &:hover {
    cursor: pointer;
  }

  // TYPE //

  &-hamburger {
    $bar-width: 10%;
    $bar-spacing: (1 - $golden-inverse) * 0.5 * 100%;
    $transition-duration: $base-transition;
    $transition-delay: $base-transition;

    background-color: transparent;
    border-radius: 0;
    padding: 0;
    position: relative;

    &_prompt {
      $prompt-size: map-get($navbar-height, sm) * $golden-inverse * 0.5;

      @include rem(font-size, $prompt-size);
      line-height: 1;
      @include rem(margin-top, $prompt-size / -2);
      position: absolute;
      right: 120%;
      top: 50%;
      transition: all $transition-duration linear $transition-delay;

      &-active {
        opacity: 0;
      }
    }

    &_bar {
      @include hamburger-bar(map-get($navbar-hambar, sm), $navbar-color);

      margin-top: -0.5 * map-get($navbar-hambar, sm);
      top: 50%;
      transition: opacity $transition-duration linear $transition-delay;
    }

    &:before, &:after {
      @include hamburger-bar(map-get($navbar-hambar, sm), $navbar-color);

      content: "";
      transition: transform $transition-duration ease-in 0s, top $transition-duration ease-out $transition-delay;
    }

    &:before { top: $bar-spacing; }
    &:after { bottom: $bar-spacing; }

    &-active {

      .btn-hamburger_prompt {
        opacity: 0;

        &-active {
          opacity: 1;
        }
      }

      .btn-hamburger_bar {
        opacity: 0;
        transition: all $transition-duration linear 0s;
      }

      &:before, &:after {
        margin-top: -0.5 * $bar-width;
        top: 50%;
        transition: top $transition-duration ease-out 0s, transform $transition-duration ease-in $transition-delay;
      }

      &:before { transform: rotate(-45deg); }
      &:after { transform: rotate(-135deg); }
    }
  }

  @media #{$md-up} {
    @include btn-base(map-get($navbar-btn, md));

    &.btn-margin {
      margin: $navbar-md-padding;
    }

    &-hamburger {
      &_prompt {
        $prompt-size: map-get($navbar-height, md) * $golden-inverse * 0.5;

        @include rem(font-size, $prompt-size);
        @include rem(margin-top, $prompt-size / -2);
      }

      &_bar {
        height: map-get($navbar-hambar, md);
        margin-top: -0.5 * map-get($navbar-hambar, md);
      }
      &:before, &:after {
        height: map-get($navbar-hambar, md);
      }
    }
  }

  @media #{$lg-up} {
    @include btn-base(map-get($navbar-btn, lg));

    &.btn-margin {
      margin: $navbar-lg-padding;
    }

    &-hamburger {
      &_prompt {
        $prompt-size: map-get($navbar-height, lg) * $golden-inverse * 0.5;

        @include rem(font-size, $prompt-size);
        @include rem(margin-top, $prompt-size / -2);
      }
      &_bar {
        height: map-get($navbar-hambar, lg);
        margin-top: -0.5 * map-get($navbar-hambar, lg);
      }
      &:before, &:after {
        height: map-get($navbar-hambar, lg);
      }
    }
  }
}
