// BUTTONS //
// Framework by Chris Moy

@import "framework/functions/scaling/buttons";

.btn {
  @include btn-base(sm);
  @include stdBg();
  @include stdColor();
  @include stdFloat();
  @include stdPosition(true);
  @include stdSpacing();

  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-family: $font-family-sans;
  line-height: 1;
  outline: 0;
  position: relative;
  @include transition(all);

  &:hover {
    cursor: pointer;
  }

  &-ghost {
    border: 1px solid black;
  }

  &-logo {
    background-color: black;
    color: white;
    font-style: oblique;
    font-weight: 700;
    text-align: left;
  }

  &-hamburger {
    @include burger(100%, 3px, 5px, #444);

    background-color: transparent;

    &-active {
      @include burger-to-cross;
    }
  }

    // SIZE //

  @each $size in $screen-sizes {

    $viewport: nth($size, 1);
    $modifier: nth($size, 2);

    @media #{$viewport} {
      @include btn-base($modifier);

      &-hamburger {
        @include burger(100%, 3px, 5px, #444);

        &-active {
          @include burger-to-cross;
        }
      }
    }
  }
}
