// GRID //
// Framework by Chris Moy
// This grid is an edited version of Toast Grid by Daniel Eden

// NOTE: YOU MUST OMIT THE CLOSING TAG OF YOUR COLUMNS FOR THIS TO FUNCTION
//        PROPERLY

.#{$namespace-grid} {
  list-style: none;
  @include rem(padding, $vert-grid-gutter $horiz-grid-gutter);

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  &-fill {
    height: 100%;
    width: 100%;
  }
}

.#{$namespace-column} {
  box-sizing: border-box;
  display: inline-block;
  min-height: 1px;
  @include rem(padding, $vert-column-gutter $horiz-column-gutter);
  vertical-align: top;

  @media #{$sm-up} {
    @include columnify($column-groups, $namespace-column, sm);
  }

  @media #{$md-up} {
    @include columnify($column-groups, $namespace-column, md);
  }

  @media #{$lg-up} {
    @include columnify($column-groups, $namespace-column, lg);
  }

  @media #{$xl-up} {
    @include columnify($column-groups, $namespace-column, xl);
  }

  // Centers the column in the grid and clears the row of all other columns
  &.#{$namespace-column}-centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  // Aligns the column right in the row
  &.#{$namespace-column}-right {
    float: right;
  }

  // Align column to the bottom.
  &.#{$namespace-column}-ab {
    vertical-align: bottom;
  }

  // Align column to the middle.
  &.#{$namespace-column}-am {
    vertical-align: middle;
  }
}

// Removes gutters from the columns
.#{$namespace-grid}-noGutter {
  margin-left: 0;
  width: 100%;

  .#{$namespace-column} {
    padding-left: 0;
  }

  .#{$namespace-column}-spanAll {
    margin-left: 0;
    width: 100%;
  }
}
