// GRID //
// Framework by Chris Moy
// This grid is an edited version of Toast Grid by Daniel Eden

// NOTE: YOU MUST OMIT THE CLOSING TAG OF YOUR COLUMNS FOR THIS TO FUNCTION
//        PROPERLY

.#{$grid-namespace} {
  list-style: none;
  @include rem(padding, $vert-grid-gutter-width $horiz-grid-gutter-width);

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.#{$column-namespace} {
  box-sizing: border-box;
  display: inline-block;
  @include rem(min-height, 1px);
  @include rem(padding, $vert-column-gutter-width $horiz-column-gutter-width);
  vertical-align: top;

  @media #{$sm-up} {
    @include columnify($column-groups, $column-namespace, "sm");
  }

  @media #{$md-up} {
    @include columnify($column-groups, $column-namespace, "md");
  }

  @media #{$lg-up} {
    @include columnify($column-groups, $column-namespace, "lg");
  }

  @media #{$xl-up} {
    @include columnify($column-groups, $column-namespace, "xl");
  }

  // Centers the column in the grid and clears the row of all other columns
  &.#{$column-namespace}-centered {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  // Aligns the column right in the row
  &.#{$column-namespace}-right {
    float: right;
  }

  // Align column to the bottom.
  &.#{$column-namespace}-ab {
    vertical-align: bottom;
  }

  // Align column to the middle.
  &.#{$column-namespace}-am {
    vertical-align: middle;
  }
}

// Removes gutters from the columns
.#{$grid-namespace}-noGutter {
  margin-left: 0;
  width: 100%;

  .#{$column-namespace} {
    padding-left: 0;
  }

  .#{$column-namespace}-spanAll {
    margin-left: 0;
    width: 100%;
  }
}
