.header {
  height: auto;
  left: 0;
  overflow-y: visible;
  position: fixed;
  top: 0;
  width: 100%;

  &-active {
    display: block;
    height: 100%;
  }

  @media #{$lg-up} {
    height: 100%;
    width: auto;
  }
}
