.menu {
  background-color: red;
  display: none;
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;

  @include clearNav(sm);

  @each $size in $screen-sizes {

    $viewport: nth($size, 1);
    $modifier: nth($size, 2);

    @media #{$viewport} {
      @include clearNav($modifier);
    }
  }
}
