.section {
  @include clearNav(sm);

  height: $section-height;
  padding: $section-padding;
  width: $section-width;

  @each $size in $screen-sizes {

    $viewport: nth($size, 1);
    $modifier: nth($size, 2);

    @media #{$viewport} {
      @include clearNav($modifier);
    }
  }
}
