@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed-Lighter.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed-LighterObl.otf') format('opentype');
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed-Obl.otf') format('opentype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed-BoldObl.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Condensed';
  src: asset-url('fonts/futura/FuturaCondensed-ExtraBoldObl.otf') format('opentype');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-Lighter.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-LighterObl.otf') format('opentype');
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-MediumObl.otf') format('opentype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-Heavy.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-HeavyObl.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: asset-url('fonts/futura/FuturaStd-BoldObl.otf') format('opentype');
  font-weight: 700;
  font-style: oblique;
}
